table {
	width:100%;
	border-collapse: collapse;
	box-shadow:3px 3px 3px #ddd;
}
tr:nth-child(even){
	background:#ddd; 
}
td{
	padding:1%;
}
th{
	padding: 1%;
}
.skDiv{
	width:100%;
	border-left:3px solid #ddd;
	padding: 1%;
	margin: 1%;
}
span{
	background: #0E4DBA;
	color: #fff;
	border: 1px solid #082D6E;
	box-shadow: 3px 3px 3px #ddd;
	margin: 1%;
    padding:1%;
    border-radius: 5px;
}

.parent{
	display:flex;
	flex-direction: row;
	justify-content: center;
}
.child1{
	width:30%;
	border:1px solid #ddd;
	padding: 1%;
	margin:1%;
}
img{
		display:block;
		margin-left:auto;
		margin-right:auto;
		width:200px;
		height:200px;
	}
.child2{
	width:70%;
	border:1px solid #ddd;
	padding: 1%;
	margin:1%;
}
a{
	text-decoration:none;
    font-size:20px;
}
p{
	font-size: 20px;
}
/*small screen*/
@media only screen and (min-width:320px) and (max-width:480px){
	.parent{
	display:flex;
	flex-direction: column;
	justify-content: center;
}
.child1{
	width:100%;
	border:1px solid #ddd;
	padding: 1%;
	margin:1%;
	background: #;
}
.child2{
	width:100%;
	border:1px solid #ddd;
	padding: 1%;
	margin:1%;
	background: yellow;
}	


}
/*medium screen*/
@media only screen and (min-width:481px) and (max-width:768px){
	.parent{
	display:flex;
	flex-direction: column;
	justify-content: center;
}
.child1{
	width:50%;
	border:1px solid #ddd;
	padding: 1%;
	margin:1%;
	background: yellow;
}
}
.child2{
	width:50%;
	border:1px solid #ddd;
	padding: 1%;
	margin:1%;
	background: yellow;
}
}	

}
/*large screen*/
@media only screen and (min-width:769px) and (max-width:1024px){
	.parent{
	display:flex;
	flex-direction: column;
	justify-content: center;
	background: yellow;
}
.child1{
	width:100%;
	border:1px solid #ddd;
	padding: 1%;
	margin:1%;
	background: yellow;
}
}
.child2{
	width:100%;
	border:1px solid #ddd;
	padding: 1%;
	margin:1%;
	background: yellow;
}
}	

}